html {
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-x: none;
}

html,
body,
.theme {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  width: 100vw;
}

@media screen and (max-width: 300px) {
  html,
  body,
  .theme {
    overflow-x: auto;
  }
}

:root {
  --white: #ffffff;
  --theme-toggle-height: 2rem;
  --theme-icon-size: 0.75rem;

  /* these are used to set the html background-color */
  --dark-mode: #131313;
  --light-mode: #fafafa;
}

/* dark mode (default) */
:root {
  --theme-color: var(--dark-mode);
  --text-color: #c2c2c2;
  --title-color: #f3f3f3;
  --card-color: #080808;
  --color-subtle: #ffffff22;
  --key-color: rgba(255, 255, 255, 0.7);
  --opacity-dark: 1;
  --opacity-light: 0;
  --theme-toggle-color: #229fea;
  --theme-toggle-background-color: #0b2231;
}

/* light mode */
html[data-theme='light'],
#theme-toggle:checked ~ .theme {
  --theme-color: var(--light-mode);
  --text-color: #353535;
  --title-color: #151515;
  --card-color: #f5f5f5;
  --color-subtle: #00000022;
  --key-color: red;
  --opacity-dark: 0;
  --opacity-light: 1;
  --theme-toggle-color: #efb62b;
  --theme-toggle-background-color: #f8e6a1;
}

.theme {
  align-items: center;
  background-color: var(--theme-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.theme-wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 32px 0;
  padding: 12px;
  position: relative;
  width: 100%;
}

#theme-toggle {
  display: none;
  margin: 0;
  padding: 0;
}
#theme-light {
  opacity: var(--opacity-light);
}
#theme-dark {
  opacity: var(--opacity-dark);
}

.theme-toggle-label {
  align-items: center;
  border-radius: var(--theme-toggle-height);
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: var(--theme-toggle-height);
  justify-content: center;
  padding: 12px 24px;
}
.theme-icons {
  align-items: center;
  background-color: var(--theme-toggle-background-color);
  border-radius: var(--theme-toggle-height);
  display: flex;
  height: var(--theme-toggle-height);
  justify-content: space-between;
  width: calc(var(--theme-toggle-height) * 2);
}
.theme-icon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
#theme-light,
#theme-dark {
  background-color: var(--theme-toggle-color);
  border-radius: 50%;
  fill: var(--white);
  height: var(--theme-icon-size);
  margin: calc(var(--theme-icon-size) / 3);
  padding: calc(var(--theme-icon-size) / 2);
  width: var(--theme-icon-size);
}
.theme-icon-label {
  align-items: center;
  display: flex;
  height: 100%;
}

@media screen and (max-width: 300px) {
  .theme-icon-label {
    display: none;
  }
}
